h1 {
  text-align: center;
  margin: auto;
}

.loginContainer {
  box-shadow: 10px #000000;
}
.nameRow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}
