.message-reciever {
  background-color: #ffffff;
  width: fit-content;
  max-width: 40%;
  padding: 0.25% 1%;
  border-radius: 5%;
  margin: 1% 0%;
}

.message-sender {
  background-color: #dcf8c6;
  width: fit-content;
  max-width: 40%;
  padding: 0.25% 1%;
  border-radius: 5%;
  margin: 1% 0% 1% 60%;
  /* margin: 1% 0%; */
}
