.textContainer {
  /* background-color: #ece5dd; */
  padding: 1%;
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  color: #4b4b4b;
  height: 60%;
  justify-content: space-between;
  border-radius: 8px;
  background: url("../../icons/bg.jpg");
  background-size: cover;
}

.activeContainer {
  display: flex;
  align-items: center;
  margin-bottom: 50%;
}

.activeItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: #4b4b4b;
}

.activeContainer img {
  padding-left: 10px;
}

.textContainer h1 {
  margin-bottom: 0px;
  color: #4b4b4b;
}

@media (min-width: 320px) and (max-width: 1200px) {
  .textContainer {
    display: none;
  }
}
