.textContainer {
  /* background-color: #ece5dd; */
  padding: 1%;
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  color: #3b3b3b;
  height: 60%;
  justify-content: space-between;
  border-radius: 8px;
  background: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
}

.activeContainer {
  display: flex;
  align-items: center;
  margin-bottom: 50%;
}

.activeItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: #3b3b3b;
}

.activeContainer img {
  padding-left: 10px;
}

.textContainer h1 {
  margin-bottom: 0px;
}

@media (min-width: 320px) and (max-width: 1200px) {
  .textContainer {
    display: none;
  }
}
