html,
body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

#root {
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.joinOuterContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  align-items: center;
  background-color: #075e54;
}

.joinInnerContainer {
  width: 20%;
}

.joinInput {
  border-radius: 20px;
  padding: 15px 20px;
  width: 100%;
  background-color: #ece5dd;
}

.heading {
  color: #ece5dd;
  font-size: 2.5em;
  padding-bottom: 10px;
  border-bottom: 2px solid #ece5dd;
}

.button {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background: #25d366;
  padding: 20px;
  border-radius: 20px;
  display: inline-block;
  border: none;
  width: 100%;
  cursor: pointer;
}

.mt-20 {
  margin-top: 20px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .joinOuterContainer {
    height: 100%;
  }

  .joinInnerContainer {
    width: 90%;
  }
}

button:focus {
  outline: 0;
}

.onlineContainer {
  height: 500px;
  background: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
  width: 300px;
  margin: 5%;
  border-radius: 10px;
}

.listContainer {
  justify-content: center;
}
.onlineList {
  width: fit-content;
  cursor: pointer;
  margin: 5% auto;
}
